<div class="card">
    <div class="card-header bg-success text-white">
        <i class="fas fa-truck"></i> Ресурси
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <span class="fw-bold">Пожарни автомобили:</span>
                <span class="badge bg-primary">3</span>
            </div>
            <div>
                <span class="fw-bold">Цистерни:</span>
                <span class="badge bg-primary">2</span>
            </div>
            <div>
                <span class="fw-bold">Спасителни екипи:</span>
                <span class="badge bg-primary">4</span>
            </div>
        </div>
    </div>
</div>